@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?cea90e3ef0201c6fba51ac2d08b319b3") format("truetype"),
url("./flaticon.woff?cea90e3ef0201c6fba51ac2d08b319b3") format("woff"),
url("./flaticon.woff2?cea90e3ef0201c6fba51ac2d08b319b3") format("woff2"),
url("./flaticon.eot?cea90e3ef0201c6fba51ac2d08b319b3#iefix") format("embedded-opentype"),
url("./flaticon.svg?cea90e3ef0201c6fba51ac2d08b319b3#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-man-exercising-with-dumbbell:before {
    content: "\f101";
}
.flaticon-bike:before {
    content: "\f102";
}
.flaticon-chin-up-bar:before {
    content: "\f103";
}
.flaticon-bicycle:before {
    content: "\f104";
}
.flaticon-buddhist-yoga-pose:before {
    content: "\f105";
}
.flaticon-boxing-fighter:before {
    content: "\f106";
}
.flaticon-man-exercising-back-and-legs:before {
    content: "\f107";
}
.flaticon-olympic-weightlifting:before {
    content: "\f108";
}
.flaticon-lose-weight:before {
    content: "\f109";
}
.flaticon-skipping-rope:before {
    content: "\f10a";
}
